<section class="Banner">
  <div class="Banner__inner container">
    <div class="Banner__content">
      <h1 class="Banner__heading" id="white">Call your friends and wander on a lama</h1>
      <p class="Banner__leading">Find and rent the perfect lama. Driver is optional.</p>
        <%= form_tag(lamas_path, method: "get", class: "Banner__form") do %>
        <div class="input-group input-group-lg">
          <%= text_field_tag(:search, params[:search], placeholder: "Where would you ride your lama?", class: "Input Banner__input form-control", id:"lama_address") %>
        </div>
      <% end %>
    </div>
  </div>
</section>
