<section class="Home__cards">
  <div class="container">
    <h2 class="Home__cards-heading">Recently Added Lamas</h2>
    <div class="row">
      <% @lamas.each do |lama| %>
        <div class="col-sm-6 col-md-4">
          <%= render 'shared/card', lama: lama %>
        </div>
      <% end %>
    </div>
  </div>
</section>
