<div class="main-container">
  <h1> LAMAS IN THE CITY</h1>
  <h3><%= @lamas.count %> lamas</h3>
  <div class="cards">
    <div class="card" style="background-image: url(https://source.unsplash.com/350x350/?lamas)">
      <% @lamas.each do |lama|  %>
        <%= render 'shared/card', lama: lama %>
      <% end %>
    </div>
  </div>
</div>

<div class="map">
  <img id="map" src='https://raw.githubusercontent.com/lewagon/layouts-demo/gh-pages/images/mapbox.png'>
</div>
