<div class="container">
  <h1> LAMAS IN THE CITY</h1>
  <section class="boats">
    <div class="container-fluid">
      <h3><%= @lamas.count %> lamas</h3>
      <div class="Cards">
        <div class="Cards__grid">
          <% @lamas.each do |lama|  %>
            <div class="grid-item">
              <%= render 'shared/card', lama: lama %>
            </div>
          <% end %>
        </div>
        <div class="Map Cards__map">
          <div class="Map__inner">
            <div id="map"
              style="width: 100%;"
              data-markers="<%= @markers.to_json %>">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

