.alert {
  margin: 0;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  border: 0;
  border-radius: 0;
}

.alert-dismissible .close {
  top: 0;
  right: 0;
  padding: 0 58rem 0 800rem;
  color: $gray-light;
  :hover {
  color: white;
  }
}

.flash {
  font-color: white;
  padding: 0 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 16px 0;
}

.flash-success {
  border: 2px solid $green;
  background-color: $success
}

.flash-warning {
  border: 2px solid #FFC65A;
}

.flash-danger {
  border: 2px solid $red;
  background-color: $danger;
}
