.lama-name h1 {
  text-align: left;
  margin-bottom: 30px;
  margin-top: 0px
}

.lama-description {

  width: 100%;
  padding: 20px 30px;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  p{
    // background-color:$gray-lighter;
    font-size: 20px;
  }

}
