.lama-name h1 {
  text-align: left;
  margin-bottom: 30px;
}

.lama-description {
  margin-left: 15px;
  padding: 20px 30px;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 350px;
}
